<div>
<p-panel header="Functional information" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
  <p-treeTable [value]="varDescription" *ngIf="varDescription" editable="true" editMode="cell">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="visibility:hidden;" [style]="{width: '0%', 'text-align': 'center'}"></th>
            <th style="visibility:hidden;" [style]="{width: '0%', 'text-align': 'center'}"></th>
            <th style="visibility:hidden;" [style]="{width: '0%', 'text-align': 'center'}"></th>
            <th style="visibility:hidden;" [style]="{width: '0%', 'text-align': 'center'}"></th>
            <th style="visibility:hidden;" [style]="{width: '0%', 'text-align': 'center'}"></th>
            <th>Variable</th>
            <th>Direction</th>
            <th>Short Descpition</th>
            <th>Long Description</th>
            <th [style]="{width: '110px', 'text-align': 'center'}">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-editing="editing" let-rowData="rowData" let-ri="rowIndex">
     <tr [pEditableRow]="rowData">
            <th style="visibility:hidden;" [style]="{width: '0%', 'text-align': 'center'}">{{rowData.attr_id}}</th>
            <th style="visibility:hidden;" [style]="{width: '0%', 'text-align': 'center'}">{{rowData.orig_id}}</th>
            <th style="visibility:hidden;" [style]="{width: '0%', 'text-align': 'center'}">{{rowData.name}}</th>
            <th style="visibility:hidden;" [style]="{width: '0%', 'text-align': 'center'}">{{rowData.start}}</th>
            <th style="visibility:hidden;" [style]="{width: '0%', 'text-align': 'center'}">{{rowData.length}}</th>
            <td>{{rowData.variabileName}}</td>
            <td>{{rowData.direction}}</td>
            <td>{{rowData.shortDescription}}</td>
            <td>{{rowData.longDescription}}</td>
        <td style="text-align:center" [style]="{width: '110px', 'text-align': 'center'}">
          <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
              class="ui-button-info" (click)="onRowEditInit(rowData, ri)"></button>
          <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
              class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData, ri)"></button>
          <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
              class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
        </td>
        </tr>
    </ng-template>
</p-treeTable>
</p-panel>
</div>

<div>
<p-panel header="Detail fo debug" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
  <ngx-json-viewer [json]="detail"></ngx-json-viewer>
</p-panel>
</div>
