<div>
<p-panel header="Functional information" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
  <p-table [value]="varDescription" *ngIf="varDescription">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Variable Source</th>
            <th [style]="{width: '150px', 'text-align': 'center'}">Coord. Source</th>
            <th >Variable Dest</th>
            <th [style]="{width: '150px', 'text-align': 'center'}">Coord. Dest</th>
            <th [style]="{width: '110px', 'text-align': 'center'}">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
     <tr>
            <td>
              {{rowData.s_varname}}
            </td>
            <td>
              {{rowData.s_start}} - {{rowData.s_length}}
            </td>
            <td>
              {{rowData.d_varname}}
            </td>
            <td>
              {{rowData.d_start}} - {{rowData.d_length}}
            </td>
            <td style="text-align:center" [style]="{width: '110px', 'text-align': 'center'}">
              <button pButton type="button" label="Detail"
                class="p-button-raised p-button-rounded" (click)="onDetail(rowData)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
</p-panel>
</div>

<div>
<p-panel header="Detail fo debug" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
  <ngx-json-viewer [json]="detail"></ngx-json-viewer>
</p-panel>
</div>

<p-dialog header="Title" [(visible)]="display">
  <ngx-json-viewer [json]="mappings"></ngx-json-viewer>
</p-dialog>
