<app-navigation-bar 
    (toggleComponentToTree)="onToggleComponentToTree($event)"
    (toggleItemToCode)="onToggleItemToCode($event)">
</app-navigation-bar>

<!--div class="p-grid"-->
    <!--div class="p-col-3"-->
<!--p-panel header="Pseudo code" [toggleable]="true">
    <app-component-tree 
        [treeItems]="treeItemsObj" 
        (toggleItemToCode)="onToggleItemToCode($event)">
    </app-component-tree>
</p-panel-->
<!--/div>
<!--div class="p-col-9"-->
<p-panel header="Components" [toggleable]="true">
    <app-code-tree
        (toggleComponentToTree)="onToggleComponentToTree($event)"
        (toggleInitComponentToTree)="onToggleInitComponentToTree($event)"
        (toggleDetailToPane)="onToggleDetailToPane($event)"
        (toggleDescriptionToPane)="onToggleDescriptionToPane($event)"
        [currentItem]="currentItemObj">
    </app-code-tree>
</p-panel> 
<p-panel header="Details" [toggleable]="true">
    <app-details-item
        [detail]="detailObj"
        [varDescriptionId]="varDescriptionObj">
    </app-details-item>
</p-panel>
<!--/div-->
